<app-header (toggleSideBarForMe)="sideBarToggler()" ></app-header>




<mat-drawer-container>
  <mat-drawer mode="side" [opened]=sideBarOpen>
    <mat-nav-list>
      <h2 matSubheader>Opciones</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/main"><mat-icon>bar_chart </mat-icon> Resumen</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/cuentas"><mat-icon>credit_card </mat-icon> Cuentas</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/transaction"><mat-icon>list </mat-icon> Transacciones</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/reportes"><mat-icon>folder_open </mat-icon> Reportes</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/goals">	<mat-icon>next_week</mat-icon> Metas</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-grid-list cols="1" rowHeight="100%" gutterSize="25px">
        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                  <mat-card-title>Cuentas</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="card">
                        <div class="card__front card__part">
                          <p class="card__info">BAnco .......</p>
                          <p class="card_numer">**** **** **** 6258</p>
                          <div class="card__space-75">
                            <span class="card__label">Card holder</span>
                            <p class="card__info">John Doe</p>
                          </div>
                          <div class="card__space-25">
                            <span class="card__label">Expires</span>
                                  <p class="card__info">10/25</p>
                          </div>
                        </div>
                      </div>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-drawer-content>


</mat-drawer-container>
