<mat-dialog-content class="mat-typography">
    <form  class="example-form">
        <mat-form-field class="example-full-width">

        </mat-form-field>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input   type="text" placeholder="name" >
          </mat-form-field>
        </tr></table>
      
        
      </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button  >Agregar</button>
  </mat-dialog-actions>