<app-header (toggleSideBarForMe)="sideBarToggler()" ></app-header>




<mat-drawer-container>
  <mat-drawer mode="side" [opened]=sideBarOpen>
    <mat-nav-list>
      <h2 matSubheader>Opciones</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/main"><mat-icon>bar_chart </mat-icon> Resumen</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/cuentas"><mat-icon>credit_card </mat-icon> Cuentas</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/transaction"><mat-icon>list </mat-icon> Transacciones</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/reportes"><mat-icon>folder_open </mat-icon> Reportes</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/goals">	<mat-icon>next_week</mat-icon> Metas</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    
    <!-- <button (click)="getGoals()"></button> -->
    <h1>Mis metas</h1>
    <div  class="row table-card" *ngFor="let item of goalsList">
      <div>

      </div>
      <mat-card class="col-sm-2 body-card">
        <mat-card-title> {{item.name }}</mat-card-title>
        <mat-card-subtitle>
          fecha limite: {{item.dateGoal}}
        </mat-card-subtitle>
        <mat-card-content>
          Precio: ${{item.goalAmount}}
        </mat-card-content>
        <!-- <mat-card-footer></mat-card-footer> -->
      </mat-card>
      
    </div>
  </mat-drawer-content>
</mat-drawer-container>
