.abs-center,
.center,
.center-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.center-elements {
  min-height: 0vh;
  flex-direction: column;
}

.center {
  min-height: 0vh;
}

.card-body {
  background: radial-gradient(circle, rgba(138, 119, 238, 1) 0%, rgba(18, 176, 217, 1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #000000;
}

mat-card-title {
  font-weight: 600;
}

button {
  margin-left: 10px;
  background: skyblue;
}

.form-container {
  width: 300px;
}

.card-header {
  background: skyblue
}
form{
    margin-right: 10%;
}

.column {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
  transition: 0.3s;
  padding: 20px;
  border-radius: 2rem;
  color: #000000;
}form

.btn {
  background: #E1CFD6;
  color: black;
  font-weight: bold;
}

.gallery img {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0px 0px 20px 0px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}
