<app-header (toggleSideBarForMe)="sideBarToggler()" ></app-header>




<mat-drawer-container>
  <mat-drawer mode="side" [opened]=sideBarOpen>
    <mat-nav-list>
      <h2 matSubheader>Opciones</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/main"><mat-icon>bar_chart </mat-icon> Resumen</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/cuentas"><mat-icon>credit_card </mat-icon> Cuentas</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/transaction"><mat-icon>list </mat-icon> Transacciones</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/reportes"><mat-icon>folder_open </mat-icon> Reportes</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/goals">	<mat-icon>next_week</mat-icon> Metas</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/comparador">	<mat-icon>compare_arrows</mat-icon> Comparador</a>
        <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
