<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<mat-drawer-container>
  <mat-drawer mode="side" [opened]=sideBarOpen>
    <mat-nav-list>
      <h2 matSubheader>Opciones</h2>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/main"><mat-icon>bar_chart </mat-icon> Resumen</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/cuentas"><mat-icon>credit_card </mat-icon> Cuentas</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/transaction"><mat-icon>list </mat-icon> Transacciones</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/goals">	<mat-icon>next_week</mat-icon> Metas</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
      <div class="table-container">
        <mat-card-title>
            Mis Transacciones
            <button mat-raised-button  (click)="openDialog(myDialog)">Mostrar Transacciones</button> 
        </mat-card-title>
        <!-- <button (click)="getTransaction()">click</button> -->
        <table mat-table [dataSource]="dataSource.data['content']" class="mat-elevation-z8">
    
          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
    
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yy'}} </td>
          </ng-container>
    
          <!-- Symbol Column -->
          <ng-container matColumnDef="capital">
            <th mat-header-cell *matHeaderCellDef> capital</th>
            <td mat-cell *matCellDef="let element"> {{element.currentCapital}} </td>
          </ng-container>
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> monto </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
  </mat-drawer-content>
</mat-drawer-container>


<ng-template #myDialog>
  <mat-dialog-content class="mat-typography">
    <form  class="example-form">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Elegir Tablero</mat-label>
        <mat-select [(ngModel)]="boardID" name="board" [ngModelOptions]="{standalone: true}" >
          <mat-option *ngFor="let br of boards" [value]="br.id" >
            {{br.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-button matDialogClose (click)="getTransaction()" >Mostrar</button>
  </mat-dialog-actions>
</ng-template>