
<app-header (toggleSideBarForMe)="sideBarToggler()" ></app-header>




<mat-drawer-container>
  <mat-drawer class="bar" mode="side" [opened]=sideBarOpen>
    <mat-nav-list >
      <h2 matSubheader>Opciones</h2>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/main"><mat-icon>bar_chart </mat-icon> Resumen</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/cuentas"><mat-icon>credit_card </mat-icon> Cuentas</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/transaction"><mat-icon>list </mat-icon> Transacciones</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/goals">	<mat-icon>next_week</mat-icon> Metas</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/comparador">	<mat-icon>compare_arrows</mat-icon> Comparador</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>

<mat-drawer-content>
  <div class="container">
      <h1>Bienvenido </h1> 
      <mat-grid-list cols="2" rowHeight="320px" gutterSize="25px">
        <mat-grid-tile>
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title >Comparador <mat-icon routerLink="/comparador">info</mat-icon></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div>
                <h3>Compara entre bancos y elige la opcion mas conveniente para tus depositos a plazo.</h3> </div>
            </mat-card-content>
          </mat-card>
          
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="dashboard-card" >
            <mat-card-header>
              <mat-card-title>Tus Cuentas  	<mat-icon routerLink="/cuentas">add_box</mat-icon> </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngFor="let c of accounts | slice:0:1; let i=index">
              <div class="card">
                <div class="card__front card__part">
                  <p class="card__info">BAnco {{c.bank.name}}</p>
                  <p class="card_numer">**** **** **** 6258</p>
                  <div class="card__space-75">
                    <span class="card__label">Card holder</span>
                    <p class="card__info">{{this.appComponent.name}}</p>
                  </div>
                  <div class="card__space-25">
                    <span class="card__label">Expires</span>
                          <p class="card__info">10/25</p>
                  </div>
                </div>
              </div>
              <div class="info_account">
                <h4>Capital: ${{c.capital}}</h4>
                <h4>TEA: {{c.tea}}%</h4>
                <h4>Fecha Inicio: {{c.dateStart | date: 'dd/MM/yy'}}</h4>
                <h4>Fecha Final: {{c.dateEnd | date: 'dd/MM/yy'}}</h4>
  
              </div>
              <div class="interest">
                <h4>Interes:{{c.interest}}</h4>
              </div>
              
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title >Transacciones <mat-icon routerLink="/transaction">info</mat-icon></mat-card-title>
              
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content >
              <table *ngFor="let t of transactions | slice:0:4; let i=index" >
                <tr>
                  <th>Fecha</th>
                  <th>Capital</th> 
                  <th>Monto</th>
                </tr>
                <tr>
                  <td>{{t.date | date: 'dd/MM/yy'}}</td>
                  <td>${{t.currentCapital}}</td>
                  <td>${{t.amount}}</td>
                </tr>

              </table>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title routerLink="/cuentas">Metas        <mat-icon routerLink="/goals">add_box</mat-icon> </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card *ngFor="let g of goalsList | slice:0:2; let i=index" class="goals-card"  >
                <mat-card-title>
                  {{g.name}}
                </mat-card-title>
                <mat-card-content>
                  <h3>Precio: ${{g.goalAmount}}</h3>
                  <h3>fecha limite: {{g.dateGoal | date: 'dd/MM/yy'}}</h3>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
</mat-drawer-content>



</mat-drawer-container>  
<!--FIN HEAHDER-->





